* { 
    box-sizing: border-box; 
}

html {  
    font-family: sans-serif; 
}

body { 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    height: 100%; 
}

nav {
    display: flex;
    align-items: center;
    height: 3rem;
}

nav ul {
    display: flex;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
    
    list-style: none;
}

nav ul:first-child {
    margin-left: 1px;
}

nav ul li {
    display: flex;
    
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}

nav ul li.active {
    color: #fff;
    background-color: #3954AE
}

.panel-container { 
    display: flex; 
    flex-direction: row; 
    overflow: hidden; 
    height: 100%; 
    padding: 0; 
    margin: 0; 
}

.panel-left { 
    flex: 0 0 auto; 
    width: 50%; 
    white-space: nowrap; 
    background: #838383; 
    color: #fff; 
}

.panel-right { 
    flex: 1 1 auto; 
    padding: 10px; 
    width: 100%; 
    background: #eee; 
    overflow: scroll; 
}

.splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    min-height: 200px;
    cursor: col-resize;
}

.CodeMirror { 
    height: 100%; 
}

.CodeMirror-activeline-background { 
    background: #f5f5f5; 
}